@charset 'UTF-8';

//------------------------------------
// MENU
//------------------------------------

.menu {
	display: block;
	float: right;
	margin: 0;
}

.menu-item {
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	letter-spacing: 1px;
	margin-left: 8px;
	padding: 5px;
	position: relative;
	text-transform: lowercase;
	transition: color .5s ease;

	&:before,
	&:after {
		content: '';
		display: block;
		position: absolute;
	}

	&:before {
		border-left: 1px solid #fff;
		height: 10px;
		left: -7px;
		top: 50%;
		transform: translateY(-50%);
		width: 0;
	}

	&:after {
		background-color: #fff;
		bottom: 0;
		height: 25px;
		left: 0;
		max-width: 0;
		transition: max-width .5s ease;
		width: 100%;
		z-index: -1;
	}

	&:first-child {
		margin-left: 0;

		&:before { display: none; }
	}

	&:hover,
	&.is--active { color: #558b6b; }

	&.is--active {
		&:after { max-width: 100%; }
	}
}
