@charset 'UTF-8';

//------------------------------------
// Header
//------------------------------------

.header {
	margin-bottom: 15px;
}

.title {
	font-size: 21px;
	font-weight: bold;
	margin: 5px 0;
	padding: 0;
}