@charset 'UTF-8';

//------------------------------------
//  MAIN
//------------------------------------

// Variables
$font-size: #{($base-font-size / 16px) * 1em};
$line-height-integer: #{$line-height-ratio};

* {
	&,
	&:before,
	&:after { box-sizing: border-box; }
}

html {
	overflow-y: scroll;

	body { opacity: 1 !important; } //prevent vwo flash
}

html,
body {
	-moz-font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: $website-bg-color;
	color: $base-font-color;
	font-family: $base-font-family;
	font-size: 14px;
	font-weight: 200;
	font-smooth: always;
	height: 100%;
	margin: 0;
	min-height: 100vh;
}

